* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: rgb(244, 244, 238);
}

.container {
  width: 800px;
  border: 6px double goldenrod;
  padding: 10px 14px;
  background-color: rgb(61, 47, 70);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.picture {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 20px 0 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 35px;
  font-weight: bolder;
  text-align: start;
  padding: 20px;
  margin-left: -40px;
  color: rgb(197, 199, 189);
}

.clock {
  display: flex;
  margin-left: -40px;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 60px;
  background-color: rgb(130, 110, 80);
  color: whitesmoke;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  initial-letter: 2px;
  background: goldenrod;
  opacity: 0.8;
}

.clock .am {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(121, 56, 68);
}
